@import 'variables';

body, .background {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

.main {
  font-family: 'Lato', sans-serif;

  top:0;
  left:0;

  padding:0;
  margin:0;

  text-align: center;
  padding: 0px;
  height: 100%;
  line-height: 1.4;

  margin: 0px auto;
}

.btn,
.btn:active,
.btn.sApp-btn:before,
.bg-overlay::after,
.benifits-item:after {
  background: linear-gradient(-47deg, $secondary-color 0%, $primary-color 100%);
}

.contact-box button {
  background: $secondary-color !important;
}

.section-heading > h2::after {
  background-color: $secondary-color;
}

.contact-us .social-icon {
  background-color: $secondary-color;
}

.team-overlay::after {
  background-color: $secondary-color;
}
