@import 'variables';

body, .background {
  background-color: $background-color;
  padding: 0px;
  margin: 0px;
}

.main {
  font-family: 'Lato', sans-serif;

  top:0;
  left:0;

  padding:0;
  margin:0;

  text-align: center;
  padding: 0px;
  height: 100%;
  line-height: 1.4;

  margin: 0px auto;
}

a {
  color: $primary-text-color;
  text-decoration: none;

  &:hover { color: $primary-color }
}

button {
    color: $primary-text-color;
    border: none;
    background-color: $primary-color;
    padding: 20px 30px;
    margin: 0px;
    margin-bottom: 30px;
    font-size: $small-font;
    border-radius: 8px;
    font-weight: bold;
    transition: transform $transition-time;

    &:hover {
      transform: scale($transform);
    }
}
