@import './variables.scss';

.intro {
  text-align: center;
  max-width: $max-width;
  padding: 0px $lr-padding;
  margin: $elem-spacing auto;

  h1 {
    font-size: $large-font;
    padding: 30px;
    margin: 0px;
  }

  h2 {
    color: $secondary-text-color;
    padding: 0px 50px;
    font-size: $medium-font;
    font-weight: normal;
    padding-bottom: 30px;
    margin: 0px auto;
  }

  a {
    color: $primary-text-color;
    border: none;
    background-color: $primary-color;
    padding: 20px 30px;
    margin: 0px;
    margin-bottom: 30px;
    font-size: $small-font;
    border-radius: 8px;
    font-weight: bold;
    transition: transform $transition-time;
    display: inline-block;

    &:hover {
      -webkit-transform: scale($transform);
      transform: scale($transform);
    }
  }
}
