$primary-color: #EE4853;
$dark-primary-color: #3D0B0E;
$secondary-color: #BF121D;
$dark-secondary-color: #BF121D;
$dark-color: black;

$primary-text-color: black;
$secondary-text-color: grey;

$background-color: white;

$large-font: 50px;
$medium-large-font: 32px;
$medium-font: 26px;
$small-font: 18px;

$transition-time: 0.2s;

$border-radius: 10px;

$max-width: 1200px;

$elem-spacing: 100px;

$transform: 1.05;

$lr-padding: 40px;
