$primary-color: #9ec16a;
$dark-primary-color: #5d7932;
$secondary-color: #41789d;
$dark-secondary-color: #234155;
$dark-color: black;

$primary-text-color: black;
$secondary-text-color: grey;

$background-color: #F5F5F5;

$large-font: 50px;
$medium-large-font: 32px;
$medium-font: 26px;
$small-font: 18px;

$transition-time: 0.2s;

$border-radius: 10px;

$max-width: 1200px;

$elem-spacing: 100px;

$transform: 1.05;

$lr-padding: 40px;
