@import './variables.scss';

#why {
  svg {
    width: 30px;
    height: 30px;
    color: $secondary-color;
  }

  .single-service {
    text-align: left;
    align-items: center;
  }

  .vertcenter {
    display: inline;
  }

  .service-thumb {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 50%;
      height: 50%;
    }
  }
}
